#quienes-somos
  .group
    .title-little.text-center
      ¿ Quienes somos ?

    .item
      .imagen
        = image_tag("nickel.png")

      .texto
        %p
          Juan Gallego
          %b
            (nickel)
          
          %br/          
          Estudiante y socio de Flowers In Space (todo se puede compaginar) encargado del desarrollo del eje central de la aplicación.

    .item
      .imagen
        = image_tag("n3uro5i5.jpg")

      .texto
        %p
          Miguel Ángel Martínez
          %b
            (n3uro5i5)
          %br/
          Estudiante y socio de Flowers In Space. Amante del Javascript, aporta toda su experiencia en esos detalles poco valorados.
    .item
      .imagen
        = image_tag("ceritium.jpg")

      .texto
        %p
          Jose Galisteo 
          %b
            (ceritium)
          %br/
          Estudiante y... gran currante de Flowers In Space. Ideologo y pensador, fue quien aportó el concepto de la aplicación.

.text-center            
  = link_to "Volver", root_path, :title => "Ir a la página principal"